---
import Layout from "../../layouts/Layout.astro";

import goods from "../../data/goods.json";

import Splide from '@splidejs/splide';
  import '@splidejs/splide/dist/css/splide.css';

export const getStaticPaths = async() => {
  return goods.map(({ url }) => {
    return {
      params: { product : url },
    }
  });
};
const { product } = Astro.params;
const goodsData = goods.find(({url}) => product === url);



---

<Layout>
<div class="goodsDetail">

<h3>{goodsData.name}</h3>
<p class="text-base">¥{goodsData.price}(税込)</p>
</div>

<section id="main-slider" class="splide" aria-label="商品画像スライダー">
  <div class="splide__track">
    <ul class="splide__list">
      {goodsData.itemphotos.map(photo => (
        <li class="splide__slide">
          <img src={`/images/${photo}`} alt="商品画像">
        </li>
      ))}
    </ul>
  </div>
</section>

<section id="thumbnail-slider" class="splide" aria-label="サムネイルスライダー">
  <div class="splide__track">
    <ul class="splide__list">
      {goodsData.itemphotos.map(photo => (
        <li class="splide__slide">
          <img src={`/images/${photo}`} alt="サムネイル画像">
        </li>
      ))}
    </ul>
  </div>
</section>
</Layout>

<script>
  import Splide from '@splidejs/splide';

  document.addEventListener('DOMContentLoaded', function () {
    var mainSlider = new Splide('#main-slider', {
      type       : 'fade',
      heightRatio: 0.5,
      pagination : false,
      arrows     : false,
      cover      : true,
    }).mount();

    var thumbnailSlider = new Splide('#thumbnail-slider', {
      fixedWidth  : 100,
      fixedHeight : 64,
      isNavigation: true,
      gap         : 20,
      focus       : 'center',
      pagination  : false,
      cover       : true,
      breakpoints : {
        600: {
          fixedWidth : 66,
          fixedHeight: 40,
        },
      },
    }).mount();

    mainSlider.sync(thumbnailSlider);
  });
</script>


<style lang="scss">

    .goodsDetail {
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    h3{
      font-size: 1.75rem;
      margin-bottom: 1rem;
    }
    p{
      font-size: 1.25rem;
      margin-bottom: 0.5rem;
    }
  }

  #main-slider {
    .splide__slide img {
  width: 100%;
  height: auto;
}
margin-bottom: 100px;
  }


  #thumbnail-carousel {
    .splide__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

}

</style>